BOT_TOKEN=8693458688:AAFgIOPKva62qICPwH_AmKEHfZWe9W9HXcQ
ADMIN_IDS=314776654,56824118
GROUP_CHAT_ID=-1003818650042
DATABASE_URL=sqlite+aiosqlite:///bot.db
GOOGLE_MAPS_API_KEY=YOUR_GOOGLE_MAPS_API_KEY_HERE
